<div class="auth-container">
    <div class="auth-card">
        <h2>Bentornato</h2>
        <p>Accedi al tuo conto.</p>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" #emailInput placeholder="tuo@email.com">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" #passwordInput placeholder="********">
        </div>

        <div class="form-actions">
            <app-button label="Accedi" (onClick)="handleLogin(emailInput.value, passwordInput.value)"></app-button>
        </div>
    </div>
</div>
